*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
/* ************navbar*********************** */
#regi_show{
    display: none;
}
.navbar{
    /* border-bottom: 1px solid black; */
    box-shadow: 0px 2px 5px rgb(223, 223, 223);
}
.nav-item{
    padding: 0 0.4rem;
}
.nav-link{
    color: black;
   font-weight: 500;
}
.nav-link:hover{
    color: blue !important;
}
#offer{
    padding: 0.1rem 0.4rem;
    background-color: rgb(255, 153, 0);
    font-weight: normal;
    color: white;
    font-size: 0.9rem;
    border-radius: 5px;
}
.login-btn{
    border: 1px solid blue;
    background-color: white;
    color: blue;
    font-weight: bold;
    padding: 0.1rem 1rem;
    border-radius: 5px;
}
.login-btn:hover{
    box-shadow: 0px 2px 3px rgb(224, 224, 224);
}
.regi-btn{
border: none;
margin: 0.5rem 0;
padding: 0.2rem 1.5rem;
border-radius: 5px;
background-color: blue;
color: white;
font-weight: 600;
}
/* *****************.search-bar................. */
.search-bar{
    position: relative;
    padding: 2rem 0; 
    display: flex;
    justify-content: center;
}
.search-bar input{
    min-width: 40%;
    padding: 0.5rem 1rem;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(211, 211, 211);
}
.search-bar input::placeholder{
    font-weight: 500;
    color: gray;
    font-size: 1.1rem;
} 
.search-bar input:hover{
    border:1px solid blue;
}
.search-bar input:focus{
    outline: none;
}
.fa-search{
    padding: 1rem;
    background-color: rgb(18, 126, 250);
    font-size: 1.2rem;
    color: white;
    border-radius: 0px 5px 5px 0px;
}
/* <!-- **************banner page////////////////////// --> */

  .carousel-cell {
    min-width: 66%;
    height: 50vh;
    margin-right: 20px;
    counter-increment: gallery-cell;
    position: relative;
  }
  .carousel-cell img{
      width: 100%;
      height: inherit;
  }

  .intern_section span{
     text-align: right;
     position: absolute;
     right: 4rem;
  }
  .intern_section .nav-link{
     color:rgb(6, 122, 255) !important;  
  }

  /* <!-- *************cities Section******************** --> */
  .city_div{
      display: flex;
  }
  .city_card{
      padding: 0.5rem 0rem;
      min-width: 10%;
      min-height: 22vh;
      background-color: rgb(255, 255, 255);
      margin: 2rem 0.8rem;
      cursor: pointer;
      text-align: center;
  }
  .city_card:hover{
      box-shadow: 0px 0px 5px rgb(182, 182, 182);
      color: blue;
  }
  .Training_head span{
      position: absolute;
      right: 4rem;
    text-align: right;
  }
  .Training_head span a{
      color: rgb(0, 140, 255) !important;
  }
 
  /* <!-- ******************fresher Jobs section************************* --> */
   .fresher_job #new-jobs{
      padding: 0.15rem 1.1rem;
      background-color: rgb(255, 136, 0);
      color: white;
      font-size: 1.2rem;
      border-radius: 5px;
  }
  .job_head span{
    position: absolute;
    right: 4rem;
  text-align: right;
  }
  .job_head span a{
     color: rgb(0, 140, 255); 
  }
  .perks{
      margin:2rem 0;
      display: flex;
      justify-content: center;
  }
  .perks_cards{
  text-align: center;
  min-width: 20%;
  min-height: 25vh;
 margin: 1rem;
 padding: 1rem 0;
  }
  /* <!-- ***************footer section start*********************** --> */
  footer{
      padding: 2.5rem 2.5rem 1rem 2.5rem!important;
      min-width: 40%;
      height: auto;
      background-color: rgb(0, 0, 0);
  }
  .links_section{
    display: flex;
}
.link_parts{
    margin: 0 3rem;
}
  .link_parts h6{
      color: white;
      font-size: 1.1rem;
      font-weight: 600;
  }
  .link_parts li{
      margin: -0.3rem 0 !important;
  }
  .link_parts li a{
      color: white;
      font-size: 1rem;
      font-weight: lighter !important;
  }
  .link_parts li a:hover{
      color: white !important;
  }
 #link_off{
     background-color: rgb(255, 136, 0);
     padding: 0.1rem 0.4rem;
     font-size: 0.9rem;
     border-radius: 5px;
 }
 .social-links{
     width: 100%;
     border-top:1px solid rgba(255, 255, 255, 0.459) ;
     display: flex;
     padding: 2rem 0;
     margin-top: 2rem;
 }
 .social-media{
   width: 70%;
  display: flex;
 }
 .social-media a{
color: white;
font-size: 1.3rem;
 }
 .social-media a:hover{
     color: white !important;
 }
 .app{
     padding: 0.5rem 0.8rem 0.5rem 0.5rem;
     border: 1px solid white;
     border-radius: 5px;
     font-size: 0.9rem !important;
 }
 .m-link{
     display: flex;
 }
 .copyright{
     width: 30%;
     text-align: right;
 }
 .copyright a{
     color: white;
     font-weight: normal;
 }
 .copyright a:hover{
     color: white !important;
 }
 @media screen and (max-width:480px) {
     /* ************navbar*********************** */
     #regi_show{
         display: block;
     }
     #regi-hide{
         display: none;
     }
     .navbar-toggler{
     position:absolute;
     left:0.5%;
     border: none;
     z-index: 99999;
     }
     .navbar-collapse{
        position: fixed;
        top: 0px;
        left: 0;
        padding: 5rem 1rem;
        width: 85% !important;
        height: 100%;
        z-index: 9999;
        background-color: rgb(255, 255, 255);
    }
    .navbar-collapse.collapsing {
        left: -45%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
    /* *****************.search-bar................. */
.search-bar input{
    min-width: 80%;
}
/* <!-- **************banner page////////////////////// --> */
  
  .carousel-cell {
    width: 100%;
    height: 25vh;
    margin-right: 10px;
    counter-increment: gallery-cell;
    background: wheat;
  }
  .carousel-cell img{
      width: 100%;
      height: inherit;
  }
  
  /* cell number */
  .intern_section{
      text-align: center;
  }
  .intern_section h5{
      font-weight: normal;
      font-size: 1rem;
  }
  .intern_section span{
     text-align: right;
     position:relative;
     top: 40rem;
  }
  .intern_section .nav-link{
     color:rgb(6, 122, 255) !important;  
  }
  .cities{
      text-align: center;
      padding-left:0.4rem !important;
      padding-right:0.4rem !important;
  }
  .cities h5{
      font-size: 1rem;
      text-transform: uppercase;
  }
  .city_div{
    display: flex;
    overflow-x:scroll;
}
.city_div::-webkit-scrollbar{
    display: none;
}
.city_card{
    padding: 0.5rem 0rem;
    min-width: 39%;
    min-height: 20vh;
    background-color: rgb(255, 255, 255);
    margin: 2rem 0.8rem;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba(219, 219, 219, 0.664);
}
.Training_head{
    margin-top: 3rem;
}
#taining_part{
flex-wrap: wrap;
}
 .Training_head span{
    position: relative;
    top: 65rem;
}
/* <!-- ******************fresher Jobs section************************* --> */
.fresher_job{
    text-align: center;
}
.fresher_job #new-jobs{
    padding: 0.15rem 0.8rem;
    font-size: 1rem;
}
.job_head h5{
    font-size: 1rem;
    padding: 0 !important;
}
.perks{
    width: 100% !important;
    margin:2rem 0;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.perks_cards{
text-align: left;
min-width: 100%;
min-height: 5vh;
margin: 0rem;
padding: 0rem 0;
}
.perks_cards h6{
position: relative;
bottom:3rem;
left: 5.5rem;
font-weight: bold;
}
.job_head span{
    position: relative;
    top: 24rem;
  }
   /* <!-- ***************footer section start*********************** --> */
   footer{
    padding: 2rem 1rem!important;
    min-width: 40%;
    height: auto;
    background-color: rgb(0, 0, 0);
}
#by_place, #stream{
    display: none;
}
.app{
    width: 100%;
}
#about{
    margin: 1rem 0 !important; 
    padding: 1rem 0 0 0 !important;
    border-top: 1px solid rgba(255, 255, 255, 0.411);
    width: 100%;
}
.links_section{
  display: flex;
  flex-wrap: wrap;
}
.link_parts{
  margin: 0 0rem;
}
.link_parts h6{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}
.link_parts li{
    margin: -0.3rem 0 !important;
}
.link_parts li a{
    color: white;
    font-size: 1rem;
    font-weight: lighter !important;
}
.link_parts li a:hover{
    color: white !important;
}
#link_off{
   background-color: rgb(255, 136, 0);
   padding: 0.1rem 0.4rem;
   font-size: 0.9rem;
   border-radius: 5px;
}
.social-links{
    width: 100%;
    border-top:1px solid rgba(255, 255, 255, 0.459) ;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin-top: 2rem;
}
.social-media{
  width: 100%;
 display: flex;
}
.social-media a{
color: white;
font-size: 1.3rem;
}
.social-media a:hover{
    color: white !important;
}
.app{
    /* width: 0%; */
    padding: 0.5rem 0.1rem 0.5rem 0.3rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 0.9rem !important;
}
.m-link{
    display: flex;
    width: 100%;
  position: relative;
  top: 3rem;
  right:9rem;
}
.copyright{
    width: 100%;
    text-align: left;
    position: relative;
    top:3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.582);
}
 }